.code-editor {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.code-editor-header {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #0f1218, #1c2331 85%);
    height: 15vh;
    padding: 10px;
    justify-content: flex-end;
}

.action-items {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 10px 20px;
    font-weight: bolder;
}

.custom-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
}

.input-output-container {
    display: flex;
    justify-content: space-between;
    min-height: 25vh;
    max-height: 45vh;
}

textarea {
    resize: none;
    outline: none;
    background-color: unset;
    color: unset;
    padding: 20px;
    padding-bottom: 5px;
    height: 100%;
}

textarea,
.code-editor-header,
.action-items {
    border: 1px solid #0f1722;
    box-shadow: 0 0 3px rgba(14, 2, 2, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.3); /* create a 3D effect */
}

.MuiSelect-iconOutlined,
.Mui-focused {
    color: var(--text-color) !important;
}
