.code-editor {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.action-items {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 10px 20px;
    font-weight: bolder;
    border: 1px solid #0f1722; /* set the border color */
    box-shadow: 0 0 5px rgba(14, 2, 2, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.3); /* create a 3D effect */
}

.input-output-container {
    display: flex;
    justify-content: space-between;
}
