.room-container {
    display: flex;
}

.code-editor {
    width: 100%;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    min-width: 250px;
}

.users-container {
    padding: 25px;
}

.room-info-container {
    display: flex;
    color: white;
    padding: 10px;
    text-overflow: ellipsis;
}
